.card-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-details__left-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .card-details__left-section {
    width: 50%;
  }
}

.card-details__right-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .card-details__right-section {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .card-details {
    flex-direction: column !important;
  }
}

.checklist-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  transition: background 0.3s ease;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 3px;
}

@media screen and (max-width: 800px) {
  .checklist-field {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.checklist-field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.checklist-field__close {
  min-width: 1rem;
  position: relative;
  top: 2px;
  color: red;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 800px) {
  .checklist-field__close {
    opacity: 0;
  }
}
.checklist-field:hover .checklist-field__close {
  opacity: 1;
}
.checklist-field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.checklist-field__text {
  flex-grow: 1;
}

.checklist-field__box {
  width: 1rem;
  height: 1rem;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
}
.checklist-field__box__done {
  border: none !important;
  background-color: var(--color-accent);
}
.checklist-field__box__undone {
  background-color: white;
}
.checklist-field__box-check {
  color: white;
  position: relative;
  top: -2px;
  left: 0;
}

.comment {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.comment__content {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  border: solid 1px black;
  flex-grow: 1;
}

.comment__avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.comment__author {
  font-weight: bold;
}

.deadline-block {
  display: flex;
  flex-direction: row;
  transition: background 0.3s ease;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 5px;
}

.deadline-block:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.deadline-block__close {
  transition: opacity 0.3s ease;
  color: red;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .deadline-block__close {
    opacity: 0;
  }
}

.deadline-block:hover .deadline-block__close {
  opacity: 1;
}

.assigned-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  column-gap: 10px;
  transition: background 0.3s ease;
  border-radius: 3px;
}

.assigned-user:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.assigned-user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.assigned-user:hover .assigned-user__remove {
  opacity: 1;
}

.assigned-user__remove {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.attachment {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
  padding-left: 5px;
  padding-right: 3px;
  border-radius: 3px;
  word-wrap: break-word; /* Для переноса слов */
  word-break: break-word; /* Для длинных слов */
}

.attachment div {
  white-space: normal;
  overflow-wrap: break-word;
}

@media screen and (max-width: 800px) {
  .attachment {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.attachment:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.attachment__remove {
  color: red;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 800px) {
  .attachment__remove {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .attachment .attachment__remove {
    opacity: 0;
  }
}

.attachment:hover .attachment__remove {
  opacity: 1;
}
