.card-details {
  display: flex;
  flex-direction: row;
}

.card-details__left-section {
  width: 3fr;
  display: flex;
  flex-direction: column;
}

.card-details__right-section {
  width: 1fr;
  display: flex;
  flex-direction: column;
}
