.list-board {
  padding-top: var(--navbar-height);
  overflow-x: auto;
}

.list-board__container {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr;
  background-color: white;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 40px;
  margin-left: 14px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  row-gap: 10px;
  width: fit-content;
  min-width: 800px;
}

.list-card {
  display: contents;
}

.list-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-card__title {
  flex-grow: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}
.list-card__title:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.list-card__header {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
}

.list-card__properties {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  color: gray;
}
