.tag__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.tag__entry {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: background-color 0.3s ease;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.tag__entry:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tag__remove {
  color: red;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .tag__remove {
    opacity: 0;
  }
}

.tag__entry:hover .tag__remove {
  opacity: 1 !important;
}

.tag-badge {
  border-radius: 6px;
  padding: 1px 4px;
  color: white;
}
