.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;

  p {
    text-align: center;
  }
}

.rating {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;

  .star {
    font-size: 32px;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: gold;
    }

    &.active {
      color: gold;
    }
  }
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;

  .checkbox-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;

    input[type='checkbox'] {
      margin-right: 10px;
    }
  }

  .custom-input {
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
}

.textarea-input {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #0056b3;
  }
}
