.homepage {
  display: flex;
  max-width: 100vw;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.homepage__top-section {
  background: radial-gradient(rgba(255, 127, 0, 0.25), rgba(0, 13, 255, 0.25));
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page__logo {
  border-radius: 0; /* Убираем скругление для логотипа */
  width: 100%;
  min-width: 150px;
  max-width: 200px;
}

.homepage__quote-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.homepage__quote {
  max-width: 300px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.homepage__wave {
  width: 100vw;
  object-fit: fill;
}

.top-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  align-self: center;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
}

.top-section__left {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.top-section__motto {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  background-color: #aaa4d2;
  color: white;
  text-wrap: nowrap;
  padding: 5px;
  padding-right: 12px;
  border-radius: 12px;
}

.top-section__buttons {
  display: flex;
  column-gap: 20px;
}

.top-section__right img {
  height: 300px;
}

.top-section__logo {
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.homepage__scroll-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #888;
}

@media (max-width: 800px) {
  .top-section {
    flex-direction: column-reverse !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .top-section__motto {
    text-wrap: wrap !important;
  }
}

.homepage__detail-section {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-bottom: 40px;
  padding-right: 10%;
  padding-left: 10%;
  gap: 10%;
}

.homepage__detail-section__even {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage__detail-section {
  display: flex;
  align-items: center;
}

.homepage__detail-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  min-width: 190px;
  flex: 1;
  text-align: left;
}

.homepage__detail-header {
  font-weight: bold;
  text-decoration: underline;
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
}

.homepage__detail-image {
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .homepage__detail-section {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    row-gap: 20px;
    padding-top: 20px;
  }
  .homepage__detail-section__odd {
    flex-direction: column-reverse !important;
  }
  .homepage__detail-section__even {
    flex-direction: column !important;
    background-color: #ddd;
  }

  .homepage__detail-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .homepage__detail-comment {
    width: 100%;
    text-align: center;
  }
}

.homepage__footer {
  background-color: #8e8e8e;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
html {
  scroll-behavior: smooth; /* Включает плавную прокрутку для якорных ссылок */
}

.homepage__scroll-indicator {
  color: #888;
  display: flex;
  justify-content: center;
  text-align: center;

  .scroll-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #ff7f00; /* Меняет цвет при наведении */
    }
  }

  .scroll-arrow {
    font-size: 3rem;
    animation: blink 1.5s infinite;
  }
}

/* Анимация стрелки */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Мобильные стили */
@media (max-width: 768px) {
  .homepage__scroll-indicator {
    .scroll-text {
      font-size: 1.2rem;
    }
    .scroll-arrow {
      font-size: 1.5rem;
    }
  }
}

.homepage__video-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 0 10px; /* Отступы для мобильных устройств */
  border-radius: 12px;
  overflow: hidden;
}
.homepage__video-iframe {
  aspect-ratio: 16 / 9; /* Устанавливаем соотношение сторон */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
}

// iframe {
//   width: 100%; /* Ширина на 100% контейнера */
//   max-width: 640px; /* Максимальная ширина для десктопа */
//   height: auto; /* Автоматический расчет высоты */
// }

@media (max-width: 768px) {
  homepage__video-iframe {
    max-width: 100%;
    height: auto;
  }

  .video-frame {
    padding: 0;
  }
}
