.homepage {
  display: flex;
  max-width: 100vw;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.homepage__top-section {
  background: radial-gradient(rgba(255, 127, 0, 0.25), rgba(0, 13, 255, 0.25));
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage__quote-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 30px;
}

.homepage__quote {
  max-width: 300px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.homepage__wave {
  width: 100vw;
  object-fit: fill;
}

.homepage__detail-section {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-bottom: 40px;
  padding-right: 10%;
  padding-left: 10%;
  gap: 10%;
}
@media (max-width: 768px) {
  .homepage__detail-section {
    flex-direction: column; /* Размещаем элементы вертикально */
    padding: 0 20px; /* Уменьшаем отступы */
    justify-content: center;
  }

  .homepage__detail-section__even {
    flex-direction: column-reverse !important; /* Размещаем элементы вертикально */
  }

  .homepage__detail-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .homepage__detail-comment {
    width: 100%;
    text-align: center; /* Центрируем текст */
  }
}

.homepage__detail-section__even {
  position: relative; /* Создаем контекст для позиционирования */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .homepage__detail-section__even .homepage__detail-image {
//   right: -10; /* Привязываем к правому краю */
// }

.homepage__detail-section__odd .homepage__detail-image {
  position: relative;
  // left: 70px;
  width: 70%;
}

.homepage img {
  border-radius: 12px; /* Скругление углов */
}

.homepage .home-page__logo {
  border-radius: 0; /* Убираем скругление для логотипа */
  width: 100%;
}

.homepage__detail-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  right: 70px;
}

.homepage__detail-section__even {
  flex-direction: row-reverse !important;
}

.homepage__detail-section__even .homepage__detail-comment {
  flex: 1; /* Текст занимает доступное пространство */
  text-align: left; /* Текст выровнен по левому краю */
}

.homepage__detail-header {
  font-weight: bold;
  text-decoration: underline;
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
}

.top-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
  margin-right: 20vw;
  align-items: center;
}

.top-section__left {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.top-section__logo {
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.top-section__comment {
}

.top-section__motto {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  background-color: #aaa4d2;
  color: white;
  text-wrap: nowrap;
  padding: 5px;
  padding-right: 12px;
  border-radius: 12px;
}

.top-section__buttons {
  display: flex;
  column-gap: 20px;
}
// .top-section__right {
//   margin-left: 20vw;
// }
.top-section__right img {
  height: 300px;
}

.homepage__footer {
  background-color: #8e8e8e;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
html {
  scroll-behavior: smooth; /* Включает плавную прокрутку для якорных ссылок */
}

.homepage__scroll-indicator {
  position: absolute;
  top: 75%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%);
  text-align: center;

  .scroll-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #ff7f00; /* Меняет цвет при наведении */
    }
  }

  .scroll-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
  }

  .scroll-arrow {
    font-size: 2rem;
    color: #fff;
    animation: blink 1.5s infinite;
  }
}

/* Анимация стрелки */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Мобильные стили */
@media (max-width: 768px) {
  .homepage__scroll-indicator {
    .scroll-text {
      font-size: 1.2rem;
    }
    .scroll-arrow {
      font-size: 1.5rem;
    }
  }
}

.video-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 0 10px; /* Отступы для мобильных устройств */
}

iframe {
  width: 100%; /* Ширина на 100% контейнера */
  max-width: 640px; /* Максимальная ширина для десктопа */
  height: auto; /* Автоматический расчет высоты */
  aspect-ratio: 16 / 9; /* Устанавливаем соотношение сторон */
  border: none;
  border-radius: 12px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  iframe {
    max-width: 100%; /* Убираем ограничение по ширине */
    height: auto; /* Высота сохраняет пропорции */
  }

  .video-frame {
    padding: 0; /* Убираем дополнительные отступы */
  }
}

// .home-page__logo {
//   width: 150px; /* Фиксированная ширина */
//   height: 50px; /* Фиксированная высота */
//   object-fit: contain; /* Гарантирует, что логотип не будет искажен */
// }
