.board-invite__image {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

.board-invite__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 10px;
}
@media screen and (max-width: 800px) {
  .board-invite__buttons {
    flex-direction: column-reverse !important;
  }
}

.board-invite__title {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
