.button {
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
  height: 32px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: max-content;
  user-select: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.button:hover {
  opacity: 0.9;
}
.button__default {
  background-color: var(--color-default);
}
.button__negative {
  color: white;
  background-color: var(--color-negative);
}
.button__positive {
  color: white;
  background-color: var(--color-positive);
}
.button__accent {
  color: white;
  background-color: var(--color-accent);
}
.button__transparent {
  background-color: rgba(0, 0, 0, 0);
}
.button__transparent:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.button__icon {
  margin-top: 1px;
}
