.kanban-card {
  border-radius: 8px;
  position: sticky;
  background-color: white;
  padding: 4px 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f,
    0px 1px 1px #091e4240, 0px 0px 1px #091e424f; // Позаимствовали у Trello
}
.kanban-card__cover {
  max-width: 100%;
  max-height: 150px;
}
.kanban-card__delete-button {
  opacity: 0;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 18px;
  height: 18px;
  background-color: #eee;
  color: var(--color-negative);
  border-radius: 2px;
  cursor: pointer;
}
.kanban-card:hover .kanban-card__delete-button {
  opacity: 100;
}
