.kanban-card {
  border-radius: 8px;
  min-height: 32px;
  background-color: white;
  padding: 4px 6px;
  display: flex;
  width: 256px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  cursor: pointer;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f,
    0px 1px 1px #091e4240, 0px 0px 1px #091e424f; // Позаимствовали у Trello
}

@media screen and (max-width: 800px) {
  .kanban-card {
    padding-right: 15px;
  }
}

.kanban-card__cover {
  max-width: 100%;
  max-height: 150px;
}

.kanban-card__delete-button {
  position: absolute;
  width: 32px;
  right: 0;
  top: 0;
  height: 32px;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
}

.kanban-card__delete-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 800px) {
  .kanban-card__delete-button {
    opacity: 0;
  }
}

.kanban-card:hover .kanban-card__delete-button {
  opacity: 100;
}

.kanban-card__title {
  user-select: none;
  cursor: text;
}

.kanban-card__textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}
