.select-box {
  user-select: none;
  height: 32px;
  overflow: visible;
  position: relative;
}
.select-box____editable {
  cursor: pointer;
}
.select-box__button {
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 5px;
  margin-left: 5px;
}
.select-box__content {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.select-box__content__closed {
  background-color: var(--color-background-secondary);
}
.select-box__content__opened {
  background-color: white;
}
.select-box__chevron-icon {
  margin-top: 2px;
  margin-left: 4px;
}
.select-box__dropdown {
  position: relative;
  background-color: white;
  z-index: 1000;
  left: 0;
}
.select-box__option {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
}
.select-box__option:hover {
  background-color: #eee;
}
