* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

:root {
  --color-default: #f6f5fa;
  --color-negative: #ed330a;
  --color-positive: #0dc268;
  --color-accent: #0070f0;
  --color-transparent: #c15df3;
  --color-background-secondary: #f1f2f4;
  --navbar-height: 58px;
}

@media screen and (max-width: 800px) {
  :root {
    --navbar-height: 70px;
  }
}

.full-screen-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-panel-dark {
  position: fixed;
  top: 0;
  left: 256px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input {
  all: unset;
  border: gray 1px solid;
  border-radius: 3px;
  height: 32px;
  padding-left: 4px;
}
.input__wrapper {
  min-height: 32px;
  display: flex;
  flex-direction: column;
}
.input__validation-message {
  color: red;
}

.search-input {
  border: #f5f6fa;
  border-radius: 3px;
  height: 32px;
}
.search-input__search-icon {
  margin-left: 8px;
}

.app__background-image {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.login-form {
  display: grid;
  width: 270px;
  grid-template-columns: auto 1fr;
  justify-items: end;
  align-items: center;
  row-gap: 10px;
  column-gap: 6px;
}
.login-form > * {
  display: flex;
}
.login-form > *:nth-child(1) {
  justify-content: left;
}
.login-form > *:nth-child(2) {
  justify-content: right;
}
.login-form__button-container {
  display: flex;
  margin-top: 40px;
  justify-content: end;
}
.login-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header::after {
  //TODO зачем это здесь?
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}

.display-none {
  display: none !important;
}

.toast-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.toast-message {
  color: #fff;
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 4px;
  opacity: 1;
  max-height: 100px;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  overflow: hidden;
}

.toast-message__success {
  background-color: #0dc268;
}

.toast-message__error {
  background-color: red;
}

.toast-message__warning {
  background-color: orange;
}

.toast-message__decay {
  opacity: 0;
}

.toast-message__appear {
  opacity: 0;
  max-height: 0;
  transform: scale(0.9); /* Легкое уменьшение размера */
  transition: opacity 0.5s, height 0.5s, transform 0.5s;
}

.toast-message__collapse {
  height: 0;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
}

.board-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 14px;
}

.board-settings__upper-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 50px;
}

@media screen and (max-width: 800px) {
  .board-settings__upper-section {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .board-settings__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.board-settings__background-image {
  width: 180px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}

.onboarding__wrapper-bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding__advice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onboarding__image {
  max-height: 45vh;
  max-width: 50vw;
}
.onboarding__text {
  margin-top: 40px;
  font-size: 1.25rem;
  margin: 30px;
}
